
@{
    ViewData["Title"] = "Privacy";
}
<div class="text-center p3">
<h1>This is a Privacy page, but  it is not really interesting to us.</h1>
<h2>This application powered by Emil Hummatov</h2>
    <h3>You can go to <a asp-controller="Home" asp-action="Index">Home</a> or <a asp-controller="Joke" asp-action="Index">Jokes</a> by clicking on them </h3>
</div>  
